@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div class="Root">
    <div class="Left">
        @Html.Raw(ViewBag.nUrl)
    </div>
    <div class="share">
        <span>Chia sẻ</span>
        <a class="share-face" target="_blank" href="">&nbsp;</a>
        <a class="share-mail-2" target="_blank" href="mailto:seabig.vn@gmail.com?Subject=Viglacrera Website - Tôi quan tâm tới mục này&amp;body=@Request.Url.ToString() ">&nbsp;</a>
        <a class="share-google" target="_blank" href="https://plus.google.com/share?url=@Request.Url.ToString()">&nbsp;</a>
    </div>
</div>
@model Caesar.Models.tblNew
<div class="Clear"></div>
<div id="ListProduct">
    <div id="Left_Product">
        @{Html.RenderAction("PartialNews", "LeftContent");}
        @{Html.RenderAction("PartialSupport", "LeftContent");}
    </div>
    <div id="Right_Product">

        <div id="Content_RightProduct">
            <div id="News_Detail">
                <h1>@Model.Name</h1>
                <span class="Date">Viết ngày : @Model.DateCreate</span>
                <div class="Slution"></div>
                <div class="DescriptionNews">
                    @Model.Description

                </div>
                <div class="Tintuclienquan">
                    @Html.Raw(ViewBag.chuoinew)

                </div>
                <div class="Contentnews">

                    @Html.Raw(@Model.Content)
                </div>
                <div id="Comment">
                    <div class="nVar_Comment">
                        <span>Nhận xét đánh giá </span>
                    </div>
                    <div class="Slution">
                        <div class="Mxh" style="float: left; width: 270px; margin-left: 2px">
                            <div class="fb-like" data-send="true" data-layout="button_count" data-width="60"
                                 data-show-faces="true">
                            </div>

                            <div id="g" style="float: left; margin: 7px 5px; height: 15px; width: 20px">
                                <g:plusone size="medium"></g:plusone>
                            </div>
                        </div>

                    </div>
                    <div class="ContentComment">

                        <div class="fb-comments" data-href="@Request.Url.ToString()" data-num-posts="20" style="width:100%; float:left; margin:0px" width="100%"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Raw(ViewBag.coppy)
<div id="boxlink">các anh chị muốn mua <a href="http://kangaroochinhhang.vn" title="Kangaroo chính hãng">Kangaroochinhhang.vn</a>bạn cần mua thêm <a href="http://karofichinhhang.vn" title="karofi">Karofi</a> làm sản phẩm <a href="http://maylocnuocgienghoan.com" title=" lọc nước giếng khoan"> lọc nước giếng khoan</a><a href="http://thayloilocnuoc.com" title="Thay lõi lọc nước">bạn muốn thay lõi lọc nước tại nhà</a> nếu bạn mua <a href="https://kangaroochinhhang.vn/may-loc-nuoc-kangaroo" title="Máy lọc nước Kangaroo">Máy lọc nước của Kangaroo</a> hay mua <a href="https://kangaroochinhhang.vn/loi-loc-nuoc-kangaroo" title="Lõi lọc nước Kangaroo">Lõi lọc nước Kangaroo chính hãng</a> hay <a href="http://Viglaceravietnam.com" title="Thiết bị vệ sinh Viglacera">Thiết bị vệ sinh Viglacera</a> <a href="http://thayloilocnuoc.com" title="Thay lõi lọc nước tại nhà">Thay lõi lọc nước tại nhà</a>  <a href="http://thegioibinhnonglanh.vn" title="Mua bình nóng lạnh giá rẻ ">Mua bình nóng lạnh giá rẻ</a> hay bạn mua <a href="http://Loiloc.com" title="Lõi lọc nước">Lõi lọc nước</a></div>
